/* colour scheme 
#66fcf1 bright teal
#45a29e darker teal
#0B0C10 dark grey
#1f2833 dark blue-grey
#C5C6C7 light grey
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #1f2833;
    color: #C5C6C7;
}

h1 {
    margin: 0px 20px;
    font-size: 5rem;
    color: #66fcf1;
}

h2 {
    color: #66fcf1;
    border: 4px double #45a29e;
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
}

h3 {
    color: #66fcf1;
    width: fit-content;
    display: inline-block;
    padding: 5px 20px;
    margin: 0;
    background-color: #0B0C10;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

h4 {
    background-color: #66fcf1;
    color: #0B0C10;
    font-size: 1.5rem;
    width: 300px;
    padding: 5px 0 5px 20px;
}

a {
    color: #45a29e;
}

button {
    color: #C5C6C7;
    border: 3px solid #66fcf1;
    padding: 10px;
    margin: 10px 2% 0px 2%;
    background-color: #1f2833;
    text-align: center;
}

button:hover{
    color:#0B0C10;
    background-color: #45a29e;
    cursor: pointer;
    transition: color 0.75s, background-color 0.75s;
}

img {
    border: 4px double #45a29e;
}

nav {
    width: 100%;
    height: 32px;
    color:#66fcf1 ;
    position: sticky;
    top: 0;
    opacity: 0.8;
    text-align: end;
    z-index: 10;
    min-width: 550px;
}

#current-page-nav {
    color: #0B0C10;
    background-color: #66fcf1;
}

nav h3:hover {
    color: #0B0C10 !important;
    background-color: #45a29e !important;
    cursor: pointer !important;
    transition: color 0.5s, background-color 0.5s;
}

header, footer {
    background-image: url("../images/keyboard.jpg");
    background-position: center;
    background-size: 100%;
    color: #45a29e;
    width: 100%;
    text-align: center;
    z-index: 20;
}

header {
    height: 300px;
    border-bottom:#66fcf1 2px solid;
}


footer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    border-top:#66fcf1 2px solid;
}

footer button {
    width: 10%;
    min-width: fit-content;
    font-size: 1em;
}

.overlay {
    background-color: #0B0C10cc;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

header .overlay {
    display: flex;
    justify-content: center;
    align-content: center;
}


.container { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered {
    height: fit-content;
}

.content {
    display: flex;
    min-height: 2700px;
}

.sidebar {
    width:250px;
    flex-shrink: 0;
    height: 100vh;
    position: sticky;
    text-align: center;
    font-size: 1.4rem;
    top: 0px;
    margin-top: -32px;
    z-index: 10;
    background-image: url("../images/keyboard.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar-content {
    padding: 50px 30px;
}

.sidebar-content a {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: block;
    color:#66fcf1;
    text-decoration: none;
}

.sidebar-content a:hover {
    color:#0B0C10;
    background-color: #45a29e;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;    
}


.sidebar-tab {
    display: none;
}

.main-body {
    font-size: 1.2em;
    width: 100%;
}

.introduction {
    margin: 2% 5%;
    color: #45a29e;
}

.section {
    z-index: 1;
    margin-top: 40px;
}

.section-header {
    position:relative;
    /* left: -250px; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* .section-header:hover {
    left: 0;
    transition: left 0.75s;
} */

.section-content {
    min-height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.section-content-main {
    margin: 1% 5%;
    text-align: center;
    width: 60%;
    max-width: 900px;
    display: flex;
    align-items: center;
    min-height: 100%;
}

.section-content-right {
    width: 25%;
    max-height: 100%;
    margin: 1% 5%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
}


#about-me-image {
    filter: grayscale(100%);
    width: 100%;
    max-width: 300px;
}




/*small devivces*/
@media all and (max-device-width: 720px), (max-width: 720px){
    .sidebar {
        display: none;
    }
    .section-header {
        width: 100%;
        left: 0px;
        margin: 0;
        margin-top: 10px;
        text-align: center;
        border-radius: 0;
    }
    .main-body {
        margin: 0;
        width: 100%;
    }

    .section-content {
        display: block;
        padding: 0 30px;
    }

    .section-content-main {
        width: 90%;
        margin: 10px auto;
        display: block;
    }

    .section-content-right {
        width: 60%;
        height: 100%;
        margin: 10px auto;
        display: block;
    }

    header {
        height: 200px;
    }
}

/*medium devices*/
@media all and (min-device-width: 721px) and (max-device-width: 1200px), (min-width: 721px) and (max-width: 1200px){
    
    header {
        height: 200px;
    }

    .main-body {
        margin: 0;
        width: 100%;
    }
    
    .sidebar {
        position:fixed;
        top:0;
        left:-250px;
        opacity: 0.95;
    }

    .sidebar-tab {
        display:block;
        position: absolute;
        z-index: 1;
        height: 50px;
        width: 50px;
        left: 225px;
        border-radius: 25px;
        background-color: #45a29e;
    }

    .sidebar:hover {
        left: 0px;
        cursor: pointer;
        transition: left 1s ease-in-out 0.1s;
    }

    .section-header {
        width: 100%;
        left: 0px;
        margin: 0;
        text-align: center;
        border-radius: 0;
    }

    .section-content {
        margin-left: 25px;
        margin-right: 25px;
    }



}

/*landscape small devivces*/
@media all and (max-device-height: 600px) and (orientation: landscape), (max-height: 600px){
    header h2 {
        display: none;
    }

    .centered {
        transform: translate(0,0);
    }

    header {
        height: fit-content;
    }

    footer {
        visibility: hidden;
    }
}

@media all and (max-width: 620px){
    header h2 {
        display: none;
    }
    .centered {
        transform: translate(0,0);
    }
    header {
        height: fit-content;
    }
}
